<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Admin Page</title>-->
<!--    <script type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>-->
<!--    <script type="text/javascript" src="webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>-->
<!--    <script type="text/javascript" th:src="@{js/main.js}" src="../templates/static/js/main/js"></script>-->
<!--    <link rel="stylesheet" href="webjars/bootstrap/4.6.0/css/bootstrap.min.css"/>-->
<!--</head>-->
<!--<body>-->
<!--<h1>-->
<!--    Users-->
<!--</h1>-->

<!--<table>-->
<!--    <tr>-->
<!--        <th> Id</th>-->
<!--        <th> Username</th>-->
<!--        <th> Name</th>-->
<!--        <th> Age</th>-->
<!--        <th> Password</th>-->
<!--        <th> Update User</th>-->
<!--        <th> Delete User</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--    <tr th:each="user : ${users}">-->
<!--        <td th:text="${user.getId()}"></td>-->
<!--        <td th:text="${user.getUsername()}"></td>-->
<!--        <td th:text="${user.getName()}"></td>-->
<!--        <td th:text="${user.getAge()}"></td>-->
<!--        <td th:text="${user.getPassword()}"></td>-->
<!--        <td> <a class="btn btn-primary eBtn"> Editt</a> </td>-->
<!--        <td>-->
<!--            <button><a th:href="@{/admin/edit/{id}(id=${user.getId()})}">Update</a></button>-->
<!--        </td>-->
<!--        <td>-->
<!--            <form th:method="DELETE" th:action="@{/admin/delete/{id}(id=${user.getId()})}">-->
<!--                <input type="submit" value="Delete">-->
<!--            </form>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->
<!--<h4>Add User :</h4>-->
<!--<a href="/admin/new">CREATE NEW USER</a>-->
<!--<br>-->
<!--<h4>Authorization page :</h4>-->
<!--<button>-->
<!--    <a th:href="@{/logout}">EXIT</a>-->
<!--</button>-->
<!--<br>-->


<!--<div class="myForm">-->
<!--    <form th:method="POST" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">-->
<!--        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--            <div class="modal-dialog">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title" id="exampleModalLabel">Update or Create</h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                        <div class="form-group">-->
<!--                            <label for="name" class="col-form-label">Name:</label>-->
<!--                            <input type="text" class="form-control" id="name" name="name" value="" />-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label for="password" class="col-form-label">password:</label>-->
<!--                            <input type="text" class="form-control" id="password" name="password" value="" />-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label for="lastName" class="col-form-label">lastName:</label>-->
<!--                            <input type="text" class="form-control" id="lastName" name="lastName" value="" />-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label for="age" class="col-form-label">age:</label>-->
<!--                            <input type="text" class="form-control" id="age" name="age" value="" />-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                        <input type="submit" class="btn btn-primary" value="save"/>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->

<!--</div>-->

</body>


</html>