<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <span>
        <span class="navbar-brand font-weight-bold" th:text="${user.name}"></span>
        <span class="navbar-brand" th:text="' with roles:'"></span>
        <span class="navbar-brand" th:each="role : ${user.getRoles()}"
              th:text="${role.getRole()} + ' '"></span>
    </span>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-md-2 m-0 p-0 bg-white pt-4">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#admin_panel">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
        </div>
        <div class="container col-md-10 bg-light pt-4">
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#userTable" id="usersTableActive">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#newUser" id="newUserActive">New User</a>
                </li>
            </ul>
            <div class="tab-content border rounded">
                <div class="tab-pane active" id="userTable" aria-labelledby="usersTableActive">
                    <h5 class="p-2 pl-3 m-0 rounded">All users</h5>
                    <table class="table table-striped bg-white">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Role</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody id="tableUsers"></tbody>
                    </table>
                </div>
                <div class="tab-pane bg-white" id="newUser" aria-labelledby="newUserActive">
                    <h5 class="p-2 pl-3 m-0 rounded bg-light">Add new user</h5>
                    <div class="row pt-3 pb-3">
                        <div class="col-md-4 mx-auto col text-center">
                            <form id="newUserForm">
                                <div class="form-group text-center font-weight-bold">
                                    <label>First name
                                        <input type="text"
                                               class="form-control form-control-sm"
                                               id="newName" name="name">
                                    </label>
                                    <br>
                                    <label>Last name
                                        <input type="text"
                                               class="form-control form-control-sm"
                                               id="newLastname" name="lastName">
                                    </label>
                                    <br>
                                    <label>Age
                                        <input type="number"
                                               class="form-control form-control-sm"
                                               id="newAge" name="age">
                                    </label>
                                    <br>
                                    <label>Password
                                        <input type="password"
                                               class="form-control form-control-sm"
                                               id="newPassword" name="password">
                                    </label>
                                    <br>
                                    <label>Role
                                        <select id="newRole" class="form-control form-control-sm"
                                                size="2" name="nameRoles" multiple="multiple">
                                            <option th:each="rol : ${roles}"
                                                    th:value="${rol.role}"
                                                    th:text="${rol.role}"
                                                    th:selected="${rol.role} == USER">
                                            </option>
                                        </select>
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-success" onclick="createNewProfile()">Add new user</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" tabindex="-1" id="edit"
                     aria-labelledby="modalLabel" aria-hidden="true" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Edit user</h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div style="text-align: center;">
                                    <div class="row justify-content-center align-items-center">
                                        <form id="editUserForm">
                                            <div class="form-group text-center font-weight-bold">
                                                <label>ID
                                                    <input type="number"
                                                           class="form-control form-control-sm"
                                                           id="editId"
                                                           name="id"
                                                           readonly>
                                                </label>
                                                <br>
                                                <label>First name
                                                    <input type="text"
                                                           class="form-control form-control-sm"
                                                           id="editName" name="name">
                                                </label>
                                                <br>
                                                <label>Last name
                                                    <input type="text"
                                                           class="form-control form-control-sm"
                                                           id="editLastname" name="lastname">
                                                </label>
                                                <br>
                                                <label>Age
                                                    <input type="number"
                                                           class="form-control form-control-sm"
                                                           id="editAge" name="age">
                                                </label>
                                                <br>
                                                <label>Password
                                                    <input type="password"
                                                           class="form-control form-control-sm"
                                                           id="editPassword" name="password">
                                                </label>
                                                <br>
                                                <label>Role
                                                    <select id="editRole" class="form-control form-control-sm"
                                                            size="2" name="nameRoles" multiple="multiple">
                                                        <option th:each="rol : ${roles}"
                                                                th:value="${rol.role}"
                                                                th:text="${rol.role}"
                                                                th:selected="${rol.role} == USER"></option>
                                                    </select>
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal" onclick="closeForm()">Close
                                </button>
                                <button type="submit" class="btn btn-primary" onclick="updateItem()">Edit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="delete" tabindex="-1"
                     aria-labelledby="modalLabel" aria-hidden="true" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete user</h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div style="text-align: center;">
                                    <div class="row justify-content-center align-items-center">
                                        <form id="deleteUserForm">
                                            <div class="form-group text-center font-weight-bold">
                                                <label>ID
                                                    <input type="number"
                                                           class="form-control form-control-sm"
                                                           id="deleteId"
                                                           readonly>
                                                </label>
                                                <br>
                                                <label>First name
                                                    <input type="text"
                                                           class="form-control form-control-sm"
                                                           id="deleteName" name="name" readonly>
                                                </label>
                                                <br>
                                                <label>Last name
                                                    <input type="text"
                                                           class="form-control form-control-sm"
                                                           id="deleteLastname" name="lastname" readonly>
                                                </label>
                                                <br>
                                                <label>Age
                                                    <input type="number"
                                                           class="form-control form-control-sm"
                                                           id="deleteAge" name="age" readonly>
                                                </label>
                                                <br>
                                                <label>Role
                                                    <select id="deleteRole" class="form-control form-control-sm"
                                                            size="2" name="nameRoles"
                                                            multiple="multiple" readonly>
                                                    </select>
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal" onclick="closeForm()">Close
                                </button>
                               <button type="submit" class="btn btn-danger" onclick="deleteItem()">Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/js/app.js"></script>
</body>
</html>