<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add User</title>
  <script type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="webjars/bootstrap/4.6.0/css/bootstrap.min.css"/>
</head>
<body>
<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
  <p>
    <label for="name">User Name:</label>
    <input type="text" th:field="*{name}" id="name">
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="text" th:field="*{password}" id="password">
  </p>
  <p>
    <label for="lastName">Last Name:</label>
    <input type="text" th:field="*{lastName}" id="lastName">
  </p>
  <p>
    <label for="age">Age:</label>
    <input type="text" th:field="*{age}" id="age">
  </p>
  <p>
  <div th:each="role : ${role}">
    <input type="checkbox" th:name="roles"
           th:value="${role.role}"
           th:text="${role.role}"/>
  </div>
  <p>
    <input type="submit" value="OK"/>
  </p>
</form>
<button>
  <a th:href="@{/logout}">EXIT</a>
</button>
</body>
</html>